h1{
    font-size: 50px;   
    font-family:fantasy;  
    font-weight: bold;  
}

h2{
    
    font: bold 14 px   sans-serif;  
}

body{
    text-align: center; 
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;  
    background: linear-gradient(to right, #000000, #5065a0);    
    margin: 25px auto; 
    padding: 40px;      
}

header{
    background-color: cyan;  
}

.cabezera{
    background-color: rgb(105, 206, 231);
    border: 7px solid rgb(153, 108, 190);
    
}

.cabezera h1{
    
  background: linear-gradient(to right, #9f69e6, #4f19a7);
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

    text-align: left;
    padding: 20px;

}

.menu{
    background-color: rgb(114, 87, 189);
    padding: 5px 15px;  
    text-align: left;   
    border: 1px solid rgb(78, 53, 189);
}

.menu li{  
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;  
}

.seccion{
    background-color:rgb(114, 87, 189);
    margin: 20px;
    width: 58%;   
    border: 1px solid rgb(255, 255, 255);
    float: left;   
}

.columna{
    background-color:rgb(114, 87, 189);
    margin: 20px 0px;
    width: 36%;
    border: 1px solid black;
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background:linear-gradient(to right, #d471e7, #805a8a); 
    font: bold 16px times new roman;
    border-top: 4px #4f19a7;
}

.seccion article{
    background-color:  rgb(105, 206, 231);
    padding: 15px;
    margin: 15px;
    border: 1px solid whitesmoke;
}

.titulo1{
    font-family:cursive;
    text-align: left;
    color: rgb(10, 96, 153);
}
h2{
    font-family:serif;
    text-align: left;
    color: #4f19a7;
}


.seccion footer{
    text-align: left;
    padding: 15px;
    color: rgb(233, 91, 221)
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 500px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(105, 206, 231);
    padding: 80px;
    font: bold 14px sans-serif;
}
